<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% block navigation %}{% endblock %}
  <div class="container start mb-4">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
          <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                  <div class="col-12">
                    {{ message }}
                  </div>
                </div>
              </div>
          </div>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
  <footer class="border-top text-white text-center pb-0 my-0 py-3">
    <div class="container start py-0 my-0">
        <p class="mb-0">© 2024 Teichman ToDoList. All Rights Reserved.</p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
        // Automatically hide the alert after 4 seconds
        setTimeout(function() {
            $(".alert").alert('close');
        }, 2500);
    });
  </script>
</body>
</html>
